<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='preview.css')}}"
    />
  </head>
  <body>
    <a href="{{url_for('index')}}">
      <img
        src="{{ url_for('static', filename='images/back.png') }}"
        style="height: 20px; width: 20px"
      />
    </a>

    <h3 style="color: rgb(255, 255, 255)">PREVIEW:</h3>
    <hr />
    <p>{{ todo['task'] }}</p>
  </body>
</html>
